/* VARIABLES */

:root{
    /* Couleurs */
    --noir:#000;
    --bleu:#276a7c;
    --blanc:#fff;
    --gris:#859399;

    /* Font Family */
    --OpenSans: "Open Sans", sans-serif;
    --Monserrat: "Montserrat", sans-serif;
    --Roboto: "Roboto", sans-serif;

    /* Text Transform */
    --Uppercase:uppercase;

    /* Font Weight */

    --W400: 400;
}

/* GENERAL */

*{
    margin: 0;
    text-decoration: none;
    color: var(--noir);
}

a{
    transition: all 0.3s ease-in-out;
    &:hover{
        transition: all 0.3s ease-in-out;
    }
}

/* Classe */
.Noir2Bleu:hover{
    color: var(--bleu);
}

.Bleur2Noir:hover{
    color: var(--noir);
}

/* Body */

/* Header */

header>div{
    max-width: 1440px;
    height: 120px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
header>div>a>img{
    max-width: 200px;
}

header>div>.fa-bars{
    display: none;
}

header>div>nav{
    max-width: 1128px;
    margin: auto;
}

header>div>nav>ul{
    list-style-type: none;
    display: flex;
    gap: 102px;
}

header>div>nav>ul>li{
    font-size: 16px;
    text-transform: var(--Uppercase);
    font-weight: var(--W400);
}


/* Footer */

footer{
    background-color: var(--bleu);
}

footer>div{
    margin: auto;
    max-width: 1420px;
    height: 42px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

footer>div *{
    color: var(--blanc);
}

footer>div>p{
    font-family: var(--Roboto);
    font-weight: var(--W400);
    font-size: 16px;
}

footer>div>p>a{
    font-family: var(--OpenSans);
}

/* Responsive */

