/* VARIABLES */

:root{
    /* Couleurs */
    --noir:#000;
    --bleu:#276a7c;
    --bleuTransparent:#27697CE3;
    --blanc:#fff;
    --gris:#859399;

    /* Font Family */
    --OpenSans: "Open Sans", sans-serif;
    --Monserrat: "Montserrat", sans-serif;
    --Roboto: "Roboto", sans-serif;

    /* Text Transform */
    --Uppercase:uppercase;

    /* Font Weight */

    --W400:400;
    --W500:500;
    --W600:600;
    --W700:700;
}

/* GENERAL */

*{
    margin: 0;
    text-decoration: none;
    color: var(--noir);
}

a, button{
    transition: all 0.3s ease-in-out;
    &:hover{
        transition: all 0.3s ease-in-out;
    }
}

/* Classe */

.Logo:hover{
    max-width: 210px;
}

.fa-solid{
    color: var(--bleu);
}

/* Classe pour la couleur de texte */

.Noir2Bleu{
    color: var(--noir);
    &:hover{
        color: var(--bleu);
    }
}
.Bleu2Noir{
    color: var(--bleu);
    &:hover{
        color: var(--noir);
    }
}

.Blanc2Gris{
    color: var(--blanc);
    &:hover{
        color: var(--gris);
    }
}

/* Classe pour les backgrounds */

.BackgroundBlanc2Gris{
    background-color: var(--blanc);
    &:hover{
        background-color: var(--gris);
        transform: scale(1.1);
    }
}

.BackgroundBleu2Noir{
    background-color: var(--bleu);
    &:hover{
        background-color: var(--noir);
        transform: scale(1.1);
    }
}

/* Body */

/* Header */

header>div{
    max-width: 1440px;
    padding: 12px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

header>div>a{
    max-width: 200px;
}

header>div>a>img{
    width: 100%;;
}

header>div>.fa-bars{
    display: none;
}

header>div>nav{
    max-width: 1128px;
    margin: auto;
}

header>div>nav>ul{
    list-style-type: none;
    display: flex;
    gap: 102px;
}

header>div>nav>ul>li{
    font-size: 16px;
    text-transform: var(--Uppercase);
    font-weight: var(--W400);
}

/* Main */

main>#Section1{
    background-image: url(../img/Locaux/Malmaison.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    
    background-position: 34% 48%;
    background-attachment:fixed;
    display: flex;
    align-items: center;
    height: 700px;
}

main>#Section1>article{
    margin: auto;
    max-width: 570px;
    background-color: var(--bleuTransparent);
    padding: 15px 15px 30px 15px;
    text-align: center;
}

main>#Section1>article>h1,main>#Section1>article>h2{
    color: var(--blanc);
}

main>#Section1>article>h1{
    font-size: 46px;
    font-family: var(--Monserrat);
    font-weight: var(--W700);
    text-transform: var(--Uppercase);
}

main>#Section1>article>h2{
    font-size: 18px;
    font-family: var(--Monserrat);
    font-weight: var(--W600);
    margin-top: 20px;
    margin-bottom: 35px;
}

main>#Section1>article>a{
    border: 1px solid var(--bleu);
    padding: 13px 24px;
    font-size: 16px;
    font-family: var(--Roboto);
    font-weight: var(--W500);
    
}

main>#Section2{
    margin-top: 60px;
}

main>#Section2>div{
    margin: auto;
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

main>#Section2>div>article{
    max-width: 640px;
}

main>#Section2>div>article>h2{
    color: var(--bleu);
    line-height: 23px;
    font-size: 20px;
    font-family: var(--Monserrat);
    font-weight: var(--W600);
}

main>#Section2>div>article>h3{
    font-size: 30px;
    line-height: 35px;
    font-family: var(--Monserrat);
    font-weight: var(--W700);
    text-transform: var(--Uppercase);
    margin-bottom: 50px;
}

main>#Section2>div>article>div{
    display: grid;
    grid-template-columns: 43px 496px;
    gap: 19px;
}

main>#Section2>div>article>div>hr{
    margin-top: 14px;
    margin-right: 10px;
    width: 43px;
    height: 2px;
    background-color: var(--bleu);
    border: none;
}

main>#Section2>div>article>div>p{
    max-width: 492px;
    font-family: var(--OpenSans);
    font-size: 16px;
    font-weight: var(--W400);
    line-height: 32px;
}

main>#Section2>div>article>div>a{
    max-width: 260px;
    padding: 10px 25px;
    text-align: center;
    font-size: 16px;
    font-family: var(--OpenSans);
    font-weight: var(--W400);

}

main>#Section2>div>img{
    max-width: 720px;
    width: 100%;
    height: 654px;
}

main>#Section3{
    margin-top: 60px;
}

main>#Section3>div{
    margin: auto;
    max-width: 1440px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

main>#Section3>div>article>i{
    width: 50px;
    height: 50px;
}

main>#Section3>div>article>p{
    font-size: 16px;
    font-family: var(--Monserrat);
    font-weight: var(--W600);
}

main>#Section4{
    margin-top: 60px;
    background-color: var(--bleu);
    padding: 60px;
}

main>#Section4>div{
    margin: auto;
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
}

main>#Section4>div>#S4_div_Image{
    display: grid;
    grid-template-columns: repeat(2,340px);
    grid-template-rows: repeat(3,226px);
    gap: 20px;
}

main>#Section4>div>#S4_div_Image>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main>#Section4>div>#S4_div_Image>#Terrasse{
    grid-column-start: 1;
    grid-column-end: 3;
}

main>#Section4>div>#S4_div_Texte>article>*, main>#Section4>div>#S4_div_Texte>p{
    color: var(--blanc);
}

main>#Section4>div>#S4_div_Texte>article>h2{
    font-size: 20px;
    font-family: var(--Monserrat);
    font-weight: var(--W600);
}

main>#Section4>div>#S4_div_Texte>article>h3{
    font-size: 30px;
    max-width: 383px;
    font-family: var(--Monserrat);
    font-weight: var(--W700);
    text-transform: var(--Uppercase);
    margin-bottom: 50px;
}

main>#Section4>div>#S4_div_Texte>p{
    margin-bottom:25px ;
    max-width: 496px;
    line-height: 32px;
    font-size: 16px;
    font-family: var(--OpenSans);
    font-weight: var(--W400);
}

main>#Section4>div>#S4_div_Texte>a{
    /* Le margin top ne marche pas. A corriger */
    padding: 13px 25px;
    font-size: 16px;
    font-family: var(--OpenSans);
    font-weight: var(--W400);
}

main>#Section5{
    margin-top: 60px;
}
main>#Section5>div{
    max-width: 1440px;
    margin: auto;
    text-align: center;
}


main>#Section5>div>h2{
    margin-top: 10px;
    font-size: 20px;
    font-family: var(--Monserrat);
    font-weight: var(--W600);
}
main>#Section5>div>h3{
    margin-bottom: 50px;
    font-size: 30px;
    font-family: var(--Monserrat);
    font-weight: var(--W700);
    text-transform: var(--Uppercase);
}

main>#Section5>div>div{
    display: grid;
    grid-template-columns:repeat(3,407px);
    gap: 50px;
    justify-content: center;
    margin-bottom: 50px ;
}

main>#Section5>div>div>article>img{
    width: 100%;
}

main>#Section5>div>div>article>p{
    font-size: 16px;
    font-family: var(--OpenSans);
    font-weight: var(--W400);
    text-transform: var(--Uppercase);
    margin-top:30px ;
}

main>#Section5>div>a{
    padding: 13px 25px;
    font-size: 16px;
    font-family: var(--OpenSans);
    font-weight: var(--W400);
}

/* Footer */

footer{
    background-color: var(--bleu);
}

footer>div{
    margin: auto;
    max-width: 1420px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

footer>div *{
    color: var(--blanc);
}

footer>div>p{
    font-family: var(--Roboto);
    font-weight: var(--W400);
    font-size: 16px;
    text-align: center;
    padding: 12px;
}

footer>div>p>a{
    font-family: var(--OpenSans);
}

/* Responsive */

@media screen and (max-width:1245px) {
    /* 1245 est la plus grande taille où le header se chevauche si on ne met pas le burger menu */
    header>div>nav{
        display: none;
    }    

    header>div>.fa-bars{
        display: block;}
}
